* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  .content {
  }
  
  .header {
    height: 10vh;
    background: #2d3436;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .ticket-filters {
    min-height: 43%;
    min-width: 15%;
    background: #808e9b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 22px;
  }
  
  .filter {
    /* min-height: 22%; */
  
    /* min-width: 20%; */
    height: 18px;
    width: 30px;
    border-radius: 9px;
  }
  
  .red {
    background: #e74c3c !important;
  }
  .blue {
    background: #3498db !important;
  }
  .green {
    background: #2ecc71 !important;
  }
  .black {
    background: #34495e !important;
  }
  .ticket-actions {
    height: 43%;
    min-height: 43%;
  
    min-width: 6%;
  
    /* background: blueviolet; */
  
    background: #808e9b;
  
    display: flex;
  
    justify-content: space-evenly;
    border-radius: 22px;
    align-items: center;
  }
  .open-modal {
    height: 100%;
  
    width: 50%;
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  }
  .fas {
    color: white;
  
    font-size: 1.2rem;
  }
  .close-ticket {
    /* height: 100%; */ /* width: 50%; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tickets-container {
    height: 90vh;
  
    background: #ecf0f1;
  }
  .red:hover{
    transform: scale(1.2);
  }
  .blue:hover{
    transform: scale(1.2);
  }
  .green:hover{
    transform: scale(1.2);
  }
  .black:hover{
    transform: scale(1.2);
  }
  .open-modal:hover{
    background: #2d3436 !important;
  }
  .close-ticket:hover {
    background: #2d3436 !important;
  }
  .modal{
    height: 20rem;
    width: 30rem;
    position: absolute;
    top: 15rem;
    left: calc((100vw - 30rem)/2);
    display: flex;
  }
  .modal-textbox{
    width: 75%;
    background: white;
    outline: none;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 10px;
    overflow: auto;
  }
  .modal-filter-options{
    width: 25%;
    background: #2d3436;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
  }
  .modal-filter{
    height: 15%;
  width: 70%;
  opacity: 0.5;
  transition: transform 0.5s;
  border-radius: 23px;
  }
  .modal-filter:hover{
    opacity: 1;
    /* transform: scale(1.2); */
  }
  .ticket {
    height: 30vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .ticket div {
  }
  
  .ticket-filter {
    height: 10%;
  }
  
  .ticket-id {
    font-weight: bold;
    margin: 2%;
  }
  
  .ticket-content {
    word-break: break-all;
    text-align: center;
    margin-top: 5%;
    width: 80%;
    align-self: center;
  }
  
  .active-filter {
    opacity: 1;
    border: 2px solid white;
  }